<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Success</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        <div id="box">
            <h1>Congratulations! You have voted</h1>
            <span>To check the results click the button bellow</span>
            <form  action="http://127.0.0.1:5000/results" method="post">
                <button type="submit">Results</button>
            </form>
        </div>
        
    </body>
</html>